.image-thumbnail {
  width: 100px;
  height: 100px;
}

.image-button {
  position: relative;
  margin-right: 10px;
  border: solid 1px black;
  box-shadow: 0 2px 2px #777;
}

.close-button {
  position: absolute;
  top: 1px;
  right: 1px;
  background: #c01d1d;
  border: solid 1px #740909;
  color: white;
}

.close-button:focus {
  background: #c01d1d;
}