@import '~antd/dist/antd.css';

// $bg-color: yellow;
$border-color: red;

.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid $border-color;

  p {
    // background-color: $bg-color;
  }
}

.admin-container-outer {
  text-align: center;
  justify-content: center;
  background-color: beige;
}

.admin-container-inner {
  text-align: left;
  justify-content: flex-start;
  max-width: 1200px;
  margin: auto;
  background-color: white;
}

.bottomPane {
  position: fixed;
  bottom: 0px;
  width: 90%;
  margin: auto;
}

.bottomPane .ant-collapse-content-box {
  max-height: 500px;
  overflow:scroll;
}

.contract-header {
  text-align: center;
  margin-top: 25px;
  display: flex;
}

.contract-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contract-header-right {
  flex-direction: column;
}

.contract-header-right__address {
  
}

.ant-btn {
  margin-left: 5px;
  margin-right: 5px;
}

.contract-header-right__title {
  font-weight: 700;
  font-size: 1.3em;
}