ul, li {
  list-style-type: none;
  padding-left: 0px
}

li {
  margin-top: 10px;
}

.phases-form-inspacer input, .phases-form-inspacer p {
  margin-left: 10px;
}

.phases-form-inspacer li {
  margin-top: 15px;
}


.sortable-item .trash{
  display: none;
}
  
.sortable-item:hover .trash{
  display: block;
}

.trash-placeholder{
  width: 30px;
}

.error {
  border-color: red;
}

.date-error>div>input{
  border-color: red;
}

.ant-calendar-picker {
  width: 150px;
  margin-right: 15px;
}

#label {
  width: 200px;
  flex-grow: 1;
}

#goal {
  width: 100px;
}

p {
  margin-top: auto;
  margin-bottom: auto;
}

.eur-value {
  float: right; 
  width: 150px;
  text-align: right;
}

/* .ant-input {
  margin: 5px;
} */