.custom-gap {
  margin-top: 20px;
  display: flex;
}

.validation-message {
  background-color: rgb(219, 39, 93);
  width: 70%;
  height: 40px;
  color: white;
  text-align: center;
  justify-content: center;
  padding: 6px;
  border: solid 3px rgb(219, 17, 78);
}

.phase-desc {
  background-color: #ffef5b;
  min-height: 150px;
  padding: 20px;
  margin: 20px 30px 0px 0px;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  border-radius: 2px;
}

.image-list-page {
  overflow-y: hidden;
  overflow-x: hidden;
}



.image-upload-input {
  margin-left: 113px;
  width: 100%;
}

.image-list {
  width: 100%;
}

