

.total-spacer {
  width: 20%;
  margin-right: 30px;
}

.total {
  font-weight: 600;
  font-size: 1.3em;
  margin-top: 30px
}

.button-addphase{
  margin-right: 35px;
}

.button-submit {
  margin-top: 10px;
}